<div>
  <div
    style="
      width: 640px;
      text-align: center;
      color: #02ad85;
      font-size: 25px;
      padding: 10px;
      border-bottom: 1px solid #ddd;
    "
  >
    <img
      style="width: 300px"
      src="https://api.sundaypeak.com/images/cdn/SundayLogo.png"
      alt="Sunday Peak"
    />
  </div>
  <div style="width: 640px; padding: 20px 10px; font-size: 15px">
    Hey {{displayName}}!<br />You made a new friend. {{followerDisplayName}}
    wants to connect. Log into Sunday Peak to
    <a style="text-decoration: none" href="https://sundaypeak.com/conversations"
      >start a new adventure.</a
    >
  </div>
  <div
    style="
      width: 640px;
      border-top: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    "
  >
    <p>Download the Sunday Peak app on the Apple app store.</p>
    <a href="https://apps.apple.com/us/app/sunday-peak/id6469585117"
      ><img src="https://api.sundaypeak.com/images/cdn/AppStoreBadge.png"
    /></a>
    <p>
      <a style="color: #999" href="https://sundaypeak.com"
        >Unsubscribe from Sunday Peak</a
      >
    </p>
  </div>
</div>
