<div>
  <div
    style="
      width: 640px;
      text-align: center;
      color: #02ad85;
      font-size: 25px;
      padding: 10px;
      border-bottom: 1px solid #ddd;
    "
  >
    <img
      style="width: 300px"
      src="https://api.sundaypeak.com/images/cdn/SundayLogo.png"
      alt="Sunday Peak"
    />
  </div>
  <div style="width: 640px; padding: 20px 10px; font-size: 15px">
    <p>
      Hey {{displayName}}!<br />Welcome to Sunday Peak, we have a lot for you to
      explore. Feel free to take a look around and see if any adventures catch
      your interest. There's hikes, bike rides, climbing, and even backcountry
      skiing. Find some friends to do an activity with and enjoy getting
      outside. You can log into your account from the link below and feel free
      to respond with any questions.
    </p>
    <p>Thanks for checking us out!<br />-Andrew</p>
  </div>
  <div
    style="
      width: 640px;
      border-top: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    "
  >
    <p>Download the Sunday Peak app on the Apple app store.</p>
    <a href="https://apps.apple.com/us/app/sunday-peak/id6469585117"
      ><img src="https://api.sundaypeak.com/images/cdn/AppStoreBadge.png"
    /></a>
    <p>
      <a style="color: #999" href="https://sundaypeak.com"
        >Unsubscribe from Sunday Peak</a
      >
    </p>
  </div>
</div>
